replicaCount: 1

# Optional: Override the name used in labels
nameOverride: ""
# Optional: Override the full name
fullnameOverride: ""

image:
  repository: namespace-manager
  pullPolicy: IfNotPresent
  tag: "latest"

serviceAccount:
  create: true
  name: ""

rbac:
  create: true

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi